body {
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#game-container {
    box-shadow: 0 0 30px #000;
    border-radius: 10px;
    overflow: hidden;
}

canvas#pong {
    background: #222;
    display: block;
    border: 2px solid #fff;
    border-radius: 8px;
}